* {
    user-select: none;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #888 transparent;
}

/* HEADER CSS */
.header-logo {
    height: auto;
    width: 140px;
    pointer-events: none;
}

/* HOME CSS */
.home-autopart {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-lotties {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.home-wave {
    display: inline-block;
    animation-duration: 2.1s;
    transform-origin: 70% 70%;
    animation-name: wave-animation;
    animation-iteration-count: infinite;
}

/* ABOUT PAGE */
.about-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-logo {
    width: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}

.tech-icons {
    font-size: 150px;
    max-width: 160px;
    min-width: 100px;
    height: 100px;
    margin: 1px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
    border: 1.7px solid #0a66c2;
    box-shadow: 4px 5px 4px 3px rgba(62, 2, 117, 0.137);
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid #0f71d3;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}